# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

*.o
*.hex
*.d
*.crf
*.axf
*.map
*.htm
*.lnp
*.sct
*.dep
*.lst
*.scvd
*.iex


build/
Middlewares/Third_Party/LVGL/demo